<div class = 'container mw-75'>
  <p id="notice"><%= notice %></p>

  <h1>Animals</h1>

  <div data-controller='index'>
    <button data-action="index#fetchAnimals" class = 'btn btn-success'>Show animals</button>
    <div data-index-target="animalsJson"></div>
    <div class="spinner-border d-none" role="status">
    </div>
  </div>
  <br>

  <%= link_to 'New Animal', new_animal_path %>
</div>